{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block content %}
{% for user,messages in messages_group.items %}
<div class="container" style="padding: 10px;">
    <div class="jumbotron">

        {% for message in messages %}
        <ul>
            {% if request.user == message.sender %}
            我&nbsp;&nbsp;&nbsp;&nbsp;:
            {% else %}
            对方:
            {% endif %}
            {{message.text}}|{{message.sendtime}}
        </ul>
        {% endfor %}
        <br>
    <form action="{% url 'send_message' comment_id %}" method="POST" class="form-inline">
        {% csrf_token %}
        <div class="form-group" style="padding-left: 40px;">
            <input type="hidden" value={% if request.user == message.sender %}1{% else %}0{% endif %} name="isSender">
            <input type="hidden" value={{user}} name="user">
            <input type="textarea" name="message_text" class="form-control" placeholder="请输入内容">
            <input type="submit" class="btn btn-success" value="确认">
        </div>
    </form>
    <br>
</div>
</div>
{% endfor %}
{% endblock content %}